Connected Services/OTEST/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://demointws.thefactoryhka.com.ec/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://demointws.thefactoryhka.com.ec/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://demointws.thefactoryhka.com.ec/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSEcuadorService.Request" />
      <xsd:import schemaLocation="http://demointws.thefactoryhka.com.ec/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EcuadorLibraryObject" />
      <xsd:import schemaLocation="http://demointws.thefactoryhka.com.ec/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/EcuadorLibraryObject.Other" />
      <xsd:import schemaLocation="http://demointws.thefactoryhka.com.ec/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/EcuadorLibraryObject.Common.Detail" />
      <xsd:import schemaLocation="http://demointws.thefactoryhka.com.ec/Service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/EcuadorLibraryObject.Common.Body" />
      <xsd:import schemaLocation="http://demointws.thefactoryhka.com.ec/Service.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/EcuadorLibraryObject.Common.Other" />
      <xsd:import schemaLocation="http://demointws.thefactoryhka.com.ec/Service.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/WSEcuadorService.Response" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_EnviarFactura_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarFactura" />
  </wsdl:message>
  <wsdl:message name="IService_EnviarFactura_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EnviarNotaCredito_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNotaCredito" />
  </wsdl:message>
  <wsdl:message name="IService_EnviarNotaCredito_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNotaCreditoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EnviarNotaDebito_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNotaDebito" />
  </wsdl:message>
  <wsdl:message name="IService_EnviarNotaDebito_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNotaDebitoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EnviarLiquidacion_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarLiquidacion" />
  </wsdl:message>
  <wsdl:message name="IService_EnviarLiquidacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarLiquidacionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EnviarGuiaRemision_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarGuiaRemision" />
  </wsdl:message>
  <wsdl:message name="IService_EnviarGuiaRemision_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarGuiaRemisionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EnviarRetencion_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarRetencion" />
  </wsdl:message>
  <wsdl:message name="IService_EnviarRetencion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarRetencionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EnviarRetencionATS_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarRetencionATS" />
  </wsdl:message>
  <wsdl:message name="IService_EnviarRetencionATS_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarRetencionATSResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DescargaArchivo_InputMessage">
    <wsdl:part name="parameters" element="tns:DescargaArchivo" />
  </wsdl:message>
  <wsdl:message name="IService_DescargaArchivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DescargaArchivoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EstatusDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:EstatusDocumento" />
  </wsdl:message>
  <wsdl:message name="IService_EstatusDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:EstatusDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FoliosRestantes_InputMessage">
    <wsdl:part name="parameters" element="tns:FoliosRestantes" />
  </wsdl:message>
  <wsdl:message name="IService_FoliosRestantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:FoliosRestantesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="EnviarFactura">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EnviarFactura" message="tns:IService_EnviarFactura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EnviarFacturaResponse" message="tns:IService_EnviarFactura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarNotaCredito">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EnviarNotaCredito" message="tns:IService_EnviarNotaCredito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EnviarNotaCreditoResponse" message="tns:IService_EnviarNotaCredito_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarNotaDebito">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EnviarNotaDebito" message="tns:IService_EnviarNotaDebito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EnviarNotaDebitoResponse" message="tns:IService_EnviarNotaDebito_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarLiquidacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EnviarLiquidacion" message="tns:IService_EnviarLiquidacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EnviarLiquidacionResponse" message="tns:IService_EnviarLiquidacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarGuiaRemision">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EnviarGuiaRemision" message="tns:IService_EnviarGuiaRemision_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EnviarGuiaRemisionResponse" message="tns:IService_EnviarGuiaRemision_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarRetencion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EnviarRetencion" message="tns:IService_EnviarRetencion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EnviarRetencionResponse" message="tns:IService_EnviarRetencion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarRetencionATS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EnviarRetencionATS" message="tns:IService_EnviarRetencionATS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EnviarRetencionATSResponse" message="tns:IService_EnviarRetencionATS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DescargaArchivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DescargaArchivo" message="tns:IService_DescargaArchivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DescargaArchivoResponse" message="tns:IService_DescargaArchivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EstatusDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EstatusDocumento" message="tns:IService_EstatusDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EstatusDocumentoResponse" message="tns:IService_EstatusDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FoliosRestantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/FoliosRestantes" message="tns:IService_FoliosRestantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FoliosRestantesResponse" message="tns:IService_FoliosRestantes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarFactura">
      <soap:operation soapAction="http://tempuri.org/IService/EnviarFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarNotaCredito">
      <soap:operation soapAction="http://tempuri.org/IService/EnviarNotaCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarNotaDebito">
      <soap:operation soapAction="http://tempuri.org/IService/EnviarNotaDebito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarLiquidacion">
      <soap:operation soapAction="http://tempuri.org/IService/EnviarLiquidacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarGuiaRemision">
      <soap:operation soapAction="http://tempuri.org/IService/EnviarGuiaRemision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarRetencion">
      <soap:operation soapAction="http://tempuri.org/IService/EnviarRetencion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarRetencionATS">
      <soap:operation soapAction="http://tempuri.org/IService/EnviarRetencionATS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DescargaArchivo">
      <soap:operation soapAction="http://tempuri.org/IService/DescargaArchivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstatusDocumento">
      <soap:operation soapAction="http://tempuri.org/IService/EstatusDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FoliosRestantes">
      <soap:operation soapAction="http://tempuri.org/IService/FoliosRestantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://demointws.thefactoryhka.com.ec/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>