Connected Services/OTEST/Service6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSEcuadorService.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSEcuadorService.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://testintws.thefactoryhka.com.ec/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EcuadorLibraryObject" />
  <xs:complexType name="PeticionFactura">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PeticionBase">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EcuadorLibraryObject" minOccurs="0" name="Documento" nillable="true" type="q1:Factura" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PeticionFactura" nillable="true" type="tns:PeticionFactura" />
  <xs:complexType name="PeticionBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeticionBase" nillable="true" type="tns:PeticionBase" />
  <xs:complexType name="PeticionNotaCredito">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PeticionBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EcuadorLibraryObject" minOccurs="0" name="Documento" nillable="true" type="q2:NotaCredito" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PeticionNotaCredito" nillable="true" type="tns:PeticionNotaCredito" />
  <xs:complexType name="PeticionNotaDebito">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PeticionBase">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EcuadorLibraryObject" minOccurs="0" name="Documento" nillable="true" type="q3:NotaDebito" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PeticionNotaDebito" nillable="true" type="tns:PeticionNotaDebito" />
  <xs:complexType name="PeticionLiquidacion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PeticionBase">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EcuadorLibraryObject" minOccurs="0" name="Documento" nillable="true" type="q4:Liquidacion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PeticionLiquidacion" nillable="true" type="tns:PeticionLiquidacion" />
  <xs:complexType name="PeticionGuiaRemision">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PeticionBase">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EcuadorLibraryObject" minOccurs="0" name="Documento" nillable="true" type="q5:GuiaRemision" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PeticionGuiaRemision" nillable="true" type="tns:PeticionGuiaRemision" />
  <xs:complexType name="PeticionRetencion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PeticionBase">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EcuadorLibraryObject" minOccurs="0" name="Documento" nillable="true" type="q6:ComprobanteRetencion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PeticionRetencion" nillable="true" type="tns:PeticionRetencion" />
  <xs:complexType name="PeticionRetencionATS">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PeticionBase">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EcuadorLibraryObject" minOccurs="0" name="Documento" nillable="true" type="q7:RetencionATS" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PeticionRetencionATS" nillable="true" type="tns:PeticionRetencionATS" />
  <xs:complexType name="PeticionDescargaArchivo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PeticionEstatusDocumento">
        <xs:sequence>
          <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PeticionDescargaArchivo" nillable="true" type="tns:PeticionDescargaArchivo" />
  <xs:complexType name="PeticionEstatusDocumento">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PeticionBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PeticionEstatusDocumento" nillable="true" type="tns:PeticionEstatusDocumento" />
  <xs:complexType name="PeticionFolios">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PeticionBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PeticionFolios" nillable="true" type="tns:PeticionFolios" />
  <xs:complexType name="PeticionCargaCertificado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PeticionBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Certificado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClaveCertificado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PeticionCargaCertificado" nillable="true" type="tns:PeticionCargaCertificado" />
</xs:schema>